<h1>Admin</h1>


<div class="jumbotron">
    <h2>Select and option</h2>
    <ul>
        <li class="nav-item" ng-show="user.admin">
            <a href="#/admin/seasons" class="nav-link">Seasons</a>
        </li>
        <li class="nav-item" ng-show="user.admin">
            <a href="#/admin/questions" class="nav-link">Questions</a>
        </li>
        <li class="nav-item" ng-show="user.admin">
            <a href="#/admin/users" class="nav-link">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Emails</a>
            <ul>
                <li ng-repeat="email in admindata.emails">
                    <a href="" class="nav-link" ng-click="editEmail(email)">{{email.statusname}}</a>
                </li>
        </li>

    </ul>
</div>






