<h1>Producer</h1>

<div ng-show="mode=='script'">
    <div class="row">
        <div class="col-md-12">
            <h4>Script Detail</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 push-sm-11">
            <button class="btn btn-outline-success" ng-click="mode='status'">Close</button>
        </div>
        <div class="col-sm-11 pull-sm-1 text-xs-center">
            <h5>{{ activeScript.name }}</h5>
        </div>
    </div>
    
    <div class="row">
        
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2" class="text-xs-center">
                        Internal Notes
                    </th>
                </tr>
            </thead>
            
            <thead>
                <tr>
                    <th>User</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in producerdata.users"
                    ng-show="(activeComments | filter:{'user_id':user.id}:true).length > 0 && (activeComments | filter:{'user_id':user.id}:true)[0].notes != ''">
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        <pre>{{ (activeComments | filter:{'user_id':user.id}:true)[0].notes }}</pre>
                    </td>
                </tr>
            </tbody>
            
            <thead>
                <tr>
                    <th colspan="2" class="text-xs-center">
                        Author Feedback
                    </th>
                </tr>
            </thead>
         
            <thead>
                <tr>
                    <th>User</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in producerdata.users"
                    ng-show="(activeComments | filter:{'user_id':user.id}:true).length > 0 && (activeComments | filter:{'user_id':user.id}:true)[0].feedback != ''">
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        <pre>{{ (activeComments | filter:{'user_id':user.id}:true)[0].feedback }}</pre>
                    </td>
                </tr>
        </table>
    
    </div>
    
</div>


<div class="row prodTable" ng-show="mode=='status'">
    <div class="col-md-12">
        <h4>Rating status</h4>
        
        <form class="">
            <div class="row">    
                 
                <div class="form-group col-md-4">
                    <label for="filterRating">Rating Info:</label>
                    <select id="filterRating" class="form-control" 
                            ng-model="ratingInfo">
                        <option value="off">Off</option>
                        <option value="rating">Rating</option>
                        <option value="duration">Duration</option>
                    </select>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="filterStats">Stats:</label>
                    <select id="filterStats" class="form-control" 
                            ng-model="stats">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="filterAuthor">Author Name:</label>
                    <select id="filterAuthor" class="form-control" 
                            ng-model="authorInfo">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select>
                </div>
                
            </div>
        </form>
        
        <table class="table">
            <thead>
            
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        <a href="" ng-click="sortBy = 'name'; sortReverse = !sortReverse">
                            Script
                            <span ng-show="sortBy == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'name' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th ng-hide="authorInfo == 'off'">
                        Author
                    </th>
                    
                    <th ng-show="ratingInfo == 'off'">
                        <a href="" ng-click="sortBy = 'rank'; sortReverse = !sortReverse">
                            Ranking
                            <span ng-show="sortBy == 'rank' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'rank' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th>
                        <a href="" ng-click="sortBy = 'average'; sortReverse = !sortReverse">
                            Rating
                            <span ng-show="sortBy == 'average' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'average' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th ng-show="ratingInfo != 'rating'">
                        <a href="" ng-click="sortBy = 'averageDuration'; sortReverse = !sortReverse">
                            Duration
                            <span ng-show="sortBy == 'averageDuration' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'averageDuration' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th ng-show="ratingInfo == 'off'">
                        <a href="" ng-click="sortBy = 'ratings'; sortReverse = !sortReverse">
                            Count
                            <span ng-show="sortBy == 'ratings' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'ratings' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th ng-show="stats == 'on'">
                        <a href="" ng-click="sortBy = 'ratingSD'; sortReverse = !sortReverse">
                            Rating Spread
                            <span ng-show="sortBy == 'ratingSD' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'ratingSD' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th ng-show="stats == 'on'">
                        <a href="" ng-click="sortBy = 'durationSD'; sortReverse = !sortReverse">
                            Duration Spread
                            <span ng-show="sortBy == 'durationSD' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'durationSD' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th ng-repeat="user in producerdata.users" ng-hide="ratingInfo == 'off'">{{ user.name }}</th>
                    
                </tr>
            </thead>
            
            <tbody>
                <tr ng-show="ratingInfo == 'rating'">
                    <td><!-- ID --></td>
                    <th>Rating Count</th>
                    
                    <td ng-hide="authorInfo == 'off'"><!--author name--></td>
                    <td ng-show="ratingInfo == 'off'"><!-- ranking --></td>
                    <td><!-- rating --></td>
                    <td ng-show="ratingInfo != 'rating'"><!-- duration --></td>
                    
                    <td ng-show="stats == 'on'"><!-- stats --></td>
                    <td ng-show="stats == 'on'"><!-- stats --></td>
                    
                    <th ng-repeat="user in producerdata.users" class="text-xs-center">
                        {{ user.total }}
                    </th>
                    
                    
                </tr>
            
                <tr ng-repeat="script in producerdata.scripts  | orderBy:sortBy:sortReverse">
                    <td>
                        {{ script.id }}
                    </td>

                    <td>
                        <a href="" ng-click="scriptDetail(script)">{{ script.name }}</a>
                    </td>
                    
                    <td class="no-wrap" ng-hide="authorInfo == 'off'">
                        {{ (producerdata.authors | filter:{id:script.author})[0].name }}
                    </td>
                    
                    <th class="text-xs-center" ng-show="ratingInfo == 'off'">
                        {{ script.rank }}<span ng-show="script.rankequal">=</span>
                    </th>
                    
                    <th class="text-xs-center">
                        {{ script.average | number:2 }}
                    </th>
                    
                    <th class="text-xs-center" ng-show="ratingInfo != 'rating'">
                        {{ script.averageDuration | number:1 }}
                    </th>
                    
                    <th ng-show="ratingInfo == 'off'" class="text-xs-center">
                        {{ script.ratings }}
                    </th>
                    
                    <td ng-show="stats == 'on'" class="text-xs-center">
                        {{ script.ratingSD | number:2 }}
                    </td>
                    
                    <td ng-show="stats == 'on'" class="text-xs-center">
                        {{ script.durationSD | number:2 }}
                    </td>
                    
                    <td ng-repeat="user in producerdata.users" ng-hide="ratingInfo == 'off'" class="text-xs-center">
                        <div ng-show="ratingInfo == 'rating'">
                            <span class="rated" 
                                ng-init="count = ( producerdata.ratings | filter:{script_id:script.id, user_id:user.id, question_id:producerdata.finalQId}:true | filter:greaterThan('rating',0) ).length; rating = ( producerdata.ratings | filter:{script_id:script.id, user_id:user.id, question_id:producerdata.finalQId}:true )[0]" 
                                ng-show="count > 0">
                                {{ (answersType2 | filter:{id:rating.rating})[0].answer }}
                            </span>
                        
                            <span class="fa fa-times" ng-show="count == 0">
                            </span>
                        </div>
                        <div ng-show="ratingInfo == 'duration'">
                            <span class="rated"
                                ng-init="duration = (producerdata.comments | filter:{script_id: script.id, user_id: user.id})[0].duration"
                                ng-show="duration > 0">
                                {{ duration }}
                            </span>
                            
                            <span class="fa fa-times" ng-show="!duration || duration == 0">
                            </span>
                        </div>
                    </td>
                    
                    
                    
                </tr>
                
                
            </tbody>
        </table>
    </div>
</div>
