<h1>Producer</h1>

<div ng-show="mode=='script'">
    <div class="row">
        <div class="col-xs-12">
            <h4>Script Detail</h4>
        
            <div class="col-sm-1 push-sm-11">
                <button class="btn btn-outline-success" ng-click="mode='status'">Close</button>
            </div>
            <div class="col-sm-11 pull-sm-1 text-xs-center">
                <h4>{{ activeScript.name }}</h4>
            </div>
        
        </div>
    </div>
    
    <div class="row">
        
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2" class="text-xs-center">
                        Internal Notes
                    </th>
                </tr>
            </thead>
            
            <thead>
                <tr>
                    <th>User</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in producerdata.users"
                    ng-show="(activeComments | filter:{'user_id':user.id}:true).length > 0 && (activeComments | filter:{'user_id':user.id}:true)[0].notes != ''">
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        <pre>{{ (activeComments | filter:{'user_id':user.id}:true)[0].notes }}</pre>
                    </td>
                </tr>
            </tbody>
            
            <thead>
                <tr>
                    <th colspan="2" class="text-xs-center">
                        Author Feedback
                    </th>
                </tr>
            </thead>
         
            <thead>
                <tr>
                    <th>User</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in producerdata.users"
                    ng-show="(activeComments | filter:{'user_id':user.id}:true).length > 0 && (activeComments | filter:{'user_id':user.id}:true)[0].feedback != ''">
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        <pre>{{ (activeComments | filter:{'user_id':user.id}:true)[0].feedback }}</pre>
                    </td>
                </tr>
        </table>
    
    </div>
    
</div>

<div class="row prodTable" ng-show="mode=='status'">
    <div class="col-xs-12">
        <h4>Rating status</h4>
        
        <form class="">
            <div class="row">    
                 
                <div class="form-group col-sm-12">
                    <label for="filterAuthor">Author Info:</label>
                    <select id="filterAuthor" class="form-control" 
                            ng-model="authorMode">
                        <option value="off">Off</option>
                        <option value="rating">Rating</option>
                        <option value="duration">Duration</option>
                    </select>
                </div>
                
            </div>
        </form>
        
        <table class="table">
            <thead>
            
                <tr>
                    <th>
                
                </tr>
            
                <tr>
                    
                
                    <th>
                        <a href="" ng-click="sortBy = 'name'; sortReverse = !sortReverse">
                            Script
                            <span ng-show="sortBy == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'name' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th>
                        <a href="" ng-click="sortBy = 'average'; sortReverse = !sortReverse">
                            Rating
                            <span ng-show="sortBy == 'average' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'average' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th>
                        <a href="" ng-click="sortBy = 'averageDuration'; sortReverse = !sortReverse">
                            Duration
                            <span ng-show="sortBy == 'averageDuration' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'averageDuration' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th ng-show="authorMode == 'off'">
                        <a href="" ng-click="sortBy = 'ratings'; sortReverse = !sortReverse">
                            Count
                            <span ng-show="sortBy == 'ratings' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortBy == 'ratings' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    
                    <th ng-repeat="user in producerdata.users" ng-hide="authorMode == 'off'">{{ user.name }}</th>
                    
                    
                </tr>
            </thead>
            
            <tbody>
                <tr ng-show="authorMode == 'rating'">
                    <th>Rating Count</th>
                    <td></td>
                    <td></td>
                                   
                    <th ng-repeat="user in producerdata.users">
                        {{ user.total }}
                    </th>
                    
                </tr>
            
                <tr ng-repeat="script in producerdata.scripts  | orderBy:sortBy:sortReverse">
                    <td>
                        <a href="" ng-click="scriptDetail(script)">{{ script.name }}</a>
                    
                    </td>
                    
                    <th>
                        {{ script.average }}
                    </th>
                    
                    <th>
                        {{ script.averageDuration }}
                    </th>
                    
                    <th ng-show="authorMode == 'off'">
                        {{ script.ratings }}
                    </th>
                    
                    <td ng-repeat="user in producerdata.users" ng-hide="authorMode == 'off'">
                        <div ng-show="authorMode == 'rating'">
                            <span class="fa fa-check" 
                                ng-init="count = ( producerdata.ratings | filter:{script_id:script.id, user_id:user.id}:true | filter:greaterThan('rating',0) ).length; rating = ( producerdata.ratings | filter:{script_id:script.id, user_id:user.id}:true )[0]" 
                                ng-show="count > 0">
                                {{ (answersType2 | filter:{id:rating.rating})[0].answer }}
                            </span>
                        
                            <span class="fa fa-times" ng-show="count == 0">
                            </span>
                        </div>
                        <div ng-show="authorMode == 'duration'">
                            <span class="fa fa-check"
                                ng-init="duration = (producerdata.comments | filter:{script_id: script.id, user_id: user.id})[0].duration"
                                ng-show="duration > 0">
                                {{ duration }}
                            </span>
                            
                            <span class="fa fa-times" ng-show="!duration || duration == 0">
                            </span>
                        </div>
                    </td>
                    
                    
                </tr>
                
                
            </tbody>
        </table>
    </div>
</div>