<h1>{{pageTitle}}</div></h1>

<div class="row" ng-hide="currentScript">
    <div class="col-xs-12">
        <table class="table table-striped mobileTable">
            <thead>
                <tr>
                    <td ng-repeat="status in ratingStatus">
                        {{status.description}}: {{ (ratingdata.scripts | filter:{rated:status.id}).length }}
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row" ng-hide="currentScript" ng-repeat="status in ratingStatus">
    
    <div class="col-xs-12">
        <table class="table table-striped mobileTable">
            <thead>
                <tr>
                    <th colspan=3>{{status.description}}</th>
                </tr>
            
                <tr class="hidden-sm-down">
                    <th class="idCol">Id</th>
                    <th>Name</th>
                    <th class="btnCol"></th>
            </thead>
        
            <tbody>
                <tr ng-repeat="script in ratingdata.scripts | filter:{rated:status.id}">
                    <td class="hidden-sm-down">{{ script.id }}</td>
                    <td>
                        {{ script.name }}
                    </td>
                    <td>
                        <button class="btn btn-outline-primary" ng-hide="editingData[script.id]" ng-click="initRating(script.id)">Rate</button>
                    </td>
                
                </tr>
                <tr ng-hide="(ratingdata.scripts | filter:{rated:status.id}).length > 0">
                    <td colspan=3>
                        None found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-show="currentScript" class="row">
    <div class="col-xs-12">
        <table class="table table-striped mobileTable">
        
            <thead>
                <tr>
                    <th colspan=2>General Ratings</th>
                </tr>
                <tr class="hidden-sm-down">
                    <th>Question</th>
                    <th>Rating</th>
                </tr>
            </thead>
    
            <tbody>
                <tr ng-repeat="question in (ratingdata.questions | filter:{type:1})">
                    <td>
                        {{ question.question }}<br/>
                        {{ question.description }}
                    </td>
                    <td>
                        <label class="form-check-inline hidden-sm-down" ng-repeat="answer in answersType1">
                            <input class="form-check-input" type="radio" 
                                name="answer_{{question.id}}" 
                                id="answer_{{question.id}}_{{answer.id}}" 
                                ng-model="currentRating[question.id]" 
                                ng-value="answer.id">
                            {{ answer.answer }}
                        </label>
                    
                        <select class="form-control hidden-md-up" ng-model="currentRating[question.id]" ng-options="item.id as item.answer for item in answersType1">
                        </select>
                    
                    </td>
                
            
                </tr>
                
                <tr>
                    <td>
                        Notes<br/>
                        (Internal)
                    </td>
                    <td>
                        <textarea class="form-control" type="textarea" ng-model="currentRating['notes']" rows="4"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        Feedback for Author<br/>
                        (Constructive and Anonymous)
                    </td>
                    <td>
                        <textarea class="form-control" type="textarea" ng-model="currentRating['feedback']" rows="4"/>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Estimated duration<br/>
                        (minutes)
                    </td>
                    <td>
                        <input class="form-control" type="number" ng-model="currentRating['duration']" min="1" max="99"/>
                    </td>
                </tr>

            
            </tbody>
            
        
        
            <thead>
                <tr>
                    <th colspan=2>Overall Rating</th>
                </tr>
            </thead>
        
            <tbody>
                <tr ng-repeat="question in (ratingdata.questions | filter:{type:2})">
                    <td>
                        {{ question.question }}<br/>
                        {{ question.description }}
                    </td>
                    <td>
                        <label class="form-check-inline hidden-sm-down" ng-repeat="answer in answersType2">
                            <input class="form-check-input" type="radio" 
                                name="answer_{{question.id}}" 
                                id="answer_{{question.id}}_{{answer.id}}" 
                                ng-model="currentRating[question.id]" 
                                ng-value="answer.id">
                            {{ answer.answer }}
                        </label>
                    
                        <select class="form-control hidden-md-up" ng-model="currentRating[question.id]" ng-options="item.id as item.answer for item in answersType2">
                        </select>
                    
                    </td>
                
            
                </tr>
        
            </tbody>
        </table>
    
        <div class="row ratingData">
            <div class="col-md-6">
                <button class="btn btn-outline-success" ng-click="saveRating()">Save</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-warning" ng-click="cancelRating()">Cancel</button>
            </div>
        </div>
    </div>
   
</div>
