<h1>{{pageTitle}}</div></h1>

<div class="ratingData row" ng-hide="currentScript">
    <div class="col-md-4 text-center" ng-repeat="status in ratingStatus">
        <span class="heading">{{status.description}}:</span>
        {{ (ratingdata.scripts | filter:{rated:status.id}).length }}
    </div>
</div>

<div class="row" ng-hide="currentScript" ng-repeat="status in ratingStatus">
    
    <div class="col-md-12">
        <table class="table table-striped mobileTable">
            <thead>
                <tr>
                    <th colspan=6 class="text-center section-top">{{status.description}}</th>
                </tr>
            
                <tr class="hidden-md-down">
                    <th class="idCol">Id</th>
                    <th>Name</th>
                    <th class="ratingCol" ng-show="status.id == 'full'">Rating</th>
                    <th class="downloadCol">File</th>
                    <th class="pageCol">Pages</th>
                    <th class="btnCol"></th>
            </thead>
        
            <tbody>
                <tr ng-repeat="script in ratingdata.scripts | filter:{rated:status.id}">
                    <td>
                        <span class="hidden-md-up heading">Id: </span>
                        {{ script.id }}
                    </td>
                    <td>
                        <span class="hidden-md-up heading">Name: </span>
                        {{ script.name }}
                    </td>
                    <td ng-show="status.id == 'full'">
                        <span class="hidden-md-up heading">Rating: </span>
                        {{ script.rating }}
                    </td>
                    <td>
                    	<span class="hidden-md-up heading">File: </span>
		    	<a href="/script/{{ ((ratingdata.files | filter : {'script': script.id}) | orderBy:'-id')[0].filename }}" target="_blank">
			    <span class="fa fa-folder-open hidden-sm-down"></span>
			    <span class="hidden-md-up">Open</span>
		    	</a>
                    	<span class=""> | </span>
		    	<a href="/script/download/{{ ((ratingdata.files | filter : {'script': script.id}) | orderBy:'-id')[0].filename }}">
			    <span class="fa fa-download hidden-sm-down"></span>
			    <span class="hidden-md-up">Download</span>
		    	</a>
		    </td>
                    <td>
                        <span class="hidden-md-up heading">Pages: </span>
                        {{ script.pageCount }}
                    </td>
                    <td>
                        <button class="btn btn-outline-primary" ng-hide="editingData[script.id]" ng-click="initRating(script.id)">Rate</button>
                    </td>
                
                </tr>
                <tr ng-hide="(ratingdata.scripts | filter:{rated:status.id}).length > 0">
                    <td colspan=6>
                        None found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-show="currentScript">
    
    <div class="col-md-12">
        <form name="rateForm">
            <table class="table table-striped mobileTable">

                <thead>
                    <tr>
                        <th colspan=2>General Ratings</th>
                    </tr>
                    <tr class="hidden-sm-down">
                        <th>Question</th>
                        <th>Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="question in (ratingdata.questions | filter:{type:1})">
                        <td>
                            {{ question.question }}<br/>
                            {{ question.description }}
                        </td>
                        <td>
                            <div class="form-check form-check-inline" ng-repeat="answer in answersType1">
                                <label class="form-check-label hidden-sm-down">
                                    <input class="form-check-input" type="radio"
                                        name="answer_{{question.id}}"
                                        id="answer_{{question.id}}_{{answer.id}}"
                                        ng-model="currentRating[question.id]"
                                        ng-value="answer.id"
                                        required>
                                    {{ answer.answer }}
                                </label>
                            </div>
                            <select class="form-control hidden-md-up" ng-model="currentRating[question.id]" ng-options="item.id as item.answer for item in answersType1">
                            </select>

                        </td>


                    </tr>

                    <tr>
                        <td>
                            Notes<br/>
                            (Internal)
                        </td>
                        <td>
                            <textarea class="form-control" type="textarea" ng-model="currentRating['notes']" rows="4"/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Feedback for Author<br/>
                            (Constructive and Anonymous)
                        </td>
                        <td>
                            <textarea class="form-control" type="textarea" ng-model="currentRating['feedback']" rows="4" required/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Estimated duration<br/>
                            (minutes)
                        </td>
                        <td>
                            <input class="form-control" type="number" ng-model="currentRating['duration']" min="1" max="99" required/>
                        </td>
                    </tr>


                </tbody>



                <thead>
                    <tr>
                        <th colspan=2>Overall Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="question in (ratingdata.questions | filter:{type:2})">
                        <td>
                            {{ question.question }}<br/>
                            {{ question.description }}
                        </td>
                        <td>
                            <div class="form-check form-check-inline" ng-repeat="answer in answersType2">
                                <label class="form-check-label hidden-sm-down">
                                    <input class="form-check-input" type="radio"
                                        name="answer_{{question.id}}"
                                        id="answer_{{question.id}}_{{answer.id}}"
                                        ng-model="currentRating[question.id]"
                                        ng-value="answer.id"
                                        ng-disabled="!rateForm.$valid">
                                        {{ answer.answer }}
                                </label>
                            </div>
                            <select class="form-control hidden-md-up" ng-model="currentRating[question.id]" ng-options="item.id as item.answer for item in answersType2">
                            </select>

                        </td>


                    </tr>

                </tbody>

            </table>

            <div class="row ratingData">
                <div class="col-md-6">
                    <button class="btn btn-outline-success" ng-click="saveRating()">Save</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-outline-warning" ng-click="cancelRating()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
   
</div>
