
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

span.heading {
    font-weight: 800;
}

th.section-top {
    background-color: #cce6ff;
}

.navbar {
    margin-bottom: 20px;
}

textarea.ng-valid,
input.ng-valid {
    background-color: #e6ffe6 !important;
}

textarea.ng-pristine,
input.ng-pristine {
    background-color: #e6faff !important;
}

textarea.ng-invalid,
input.ng-invalid {
    background-color: #ffe6e6 !important;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

table .btn, .ratingData .btn {
    display: block;
    width: 100%;
}

.pageCol,
.btnCol {
    width: 75px;
}

.ratingCol,
.downloadCol {
    width: 100px;
}

.idCol {
    width: 50px;
}

.ratingData {
    margin-bottom: 20px;
}

.ratingData .row {
    padding-bottom: 10px;
}

.prodTable .rated {
    color: green;
}

.prodTable .fa-times {
    color: red;
}

.prodTable th a {
    white-space: nowrap;
}

.no-wrap {
    white-space: nowrap;
}

@media (min-width: 768px) {
    .row-striped:nth-of-type(odd) {
      background-color: #efefef;
    }

    .row-striped:nth-of-type(even) {
      background-color: #ffffff;
    }
    
}


@media (max-width: 768px) {

    td, th {
        display: block;
    }
   
    
}
